* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

:root {
  --cor_clara: #f4f4f4;
  --cor_escura: #dfdfdf;
}

html {
  width: 100dvw;
  height: 100dvh;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--cor_clara);
  flex-grow: 1;
}

header h1 {
  font-weight: 100;
  background-color: var(--cor_escura);
  width: 25%;
  text-align: center;
  font-size: 2em;
}

header nav input,
header nav button {
  background-color: var(--cor_escura);
  border: none;
  text-align: center;
  font-size: 2em;
}

header nav input {
  margin: 0 45px 0 0;
  width: 250px;
}

header nav input:focus {
  border: none;
  outline: none;
}

header nav button {
  padding: 0 5px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

section h1 {
  font-weight: 100;
  background-color: var(--cor_escura);
  width: 25%;
  text-align: center;
  font-size: 2em;
}

main {
  display: flex;
  flex-grow: 15;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

main #resultado_img {
  background-color: var(--cor_escura);
  height: 90%;
  width: 50%;
  max-height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

main #resultado_infos {
  height: 90%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main #resultado_infos p {
  width: 100%;
  background-color: var(--cor_escura);
  font-size: 2em;
  text-align: center;
}

main #resultado_infos .btns_result {
  display: flex;
  justify-content: space-between;
}

main #resultado_infos .btns_result button {
  background-color: var(--cor_escura);
  font-size: 2em;
  border: none;
  padding: 10px;
}

@media (max-width: 768px) {

  header {
    flex-direction: column;
    gap: 20px;
  }

  header h1 {
    width: 100%;
  }

  header nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  header nav input {
    width: 100%;
    margin: 0;
  }

  main {
    flex-direction: column;
  }

  #resultado_img,
  #resultado_infos {
    width: 90%;
  }

  #resultado_infos .btns_result {
    flex-direction: column;
    gap: 10px;
  }
}